html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,'Raleway', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .imageniglesia{
  height: 360px;
  width: 500px;
} */

@media screen and (max-width: 768px) {
  .imageniglesia {
  height: 360px;
  width: 300px;
  }
}


@media screen and (min-width: 768px) {
  .imageniglesia{
  height: 360px;
  width: 500px;
  }

  
}


/* .imageniglesia {

 
  @media screen and (min-width: 768px) {
    height: 360px;
    width: 500px;
  }
  
} */


.swiper {
  width: 100%;
  /* height: 100%; */
  /* width: 50%; */
  /* height: 1000px; */
  /* layout: fill; */

  @media screen and (max-width: 768px) {
      height: 1400px;
  }
  @media screen and (min-width: 768px) {
      height: 780px;
  }
  
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background-image: url(../public/img/bgdonacion.jpg); */
  /* height: 1000px; */
  /* position: absolute; */


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@tailwind base;
@tailwind components;

.permisotitulo {
  @apply my-4 text-3xl text-black font-light;
}

.permisolink {
  @apply text-black hover:text-gray-500;
}

.navlink{
  @apply pt-2 px-2 ml-2 opacity-60 hover:text-amber-400  md:inline md:float-right;
}

.botonemprende{
  @apply flex justify-between w-full px-4 py-2 font-medium text-left text-gray-400 hover:bg-amber-400 hover:text-black;
}

@tailwind utilities;


