html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,'Raleway', sans-serif;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageniglesia{
  height: 360px;
  width: 500px;
}

@tailwind base;
@tailwind components;

.permisotitulo {
  @apply my-4 text-3xl text-black font-light;
}

.permisolink {
  @apply text-black hover:text-gray-500;
}

.navlink{
  @apply pt-2 px-2 ml-2 opacity-60 hover:text-amber-400  md:inline md:float-right;
}

.botonemprende{
  @apply flex justify-between w-full px-4 py-2 font-medium text-left text-gray-400 hover:bg-amber-400 hover:text-black;
}

@tailwind utilities;


